.DS_Store
.env
/node_modules/

# React Router
/.react-router/
/build/
/front/node_modules/
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/auth_template.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/front/.react-router/
/db.sqlite3
/.venv/
